/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 oct. 2021, 17:31:27
    Author     : Usuario
*/

body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

td, th{
    border: 1px solid black;
}

div{
    height: 25px;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    display: block;
    width: 75%;
    text-align: center;
    text-decoration: none;
    background-color: violet;
    border: 2px solid darkviolet;
    margin: auto;
    margin-bottom: 5px;
    padding: 1% 0;
}