/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2021, 11:45:48
    Author     : daw2
*/


td, th{
    border: 1px solid gray;
    width: 50px;
    height: 50px;
}
.barco{
    background-color: black;
}

/*
.ocupado{
    background-color: lightgray;
}
*/